### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [93]:
# Dependencies and Setup
import pandas as pd
import os

# File to Load (Remember to Change These)
file_to_load = os.path.join(".", "Resources", "purchase_data.csv")

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

purchase_data
#purchase_data.dtypes
#Might need to convert some rows to different data types....************************

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

## Player Count

* Display the total number of players

In [35]:
#Total players:
total_players = purchase_data["SN"].count() #counts total in column
print(total_players)

#Unique players plus their count:
count_unique_players_df = len(purchase_data["SN"].unique())#returns count of times a unique item
print(count_unique_players_df)

#Didn't Work:
#unique_players_df = purchase_data["SN"].nunique() #creates list of unique items
#print(unique_players)
#unique_players_df = purchase_data["SN"].value_counts() #returns count of times a unique item is displayed in column
#print(unique_players_df)

#DONE***************************

780
576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [92]:
#Number of Unique Items:
count_unique_items_df = len(purchase_data["Item ID"].unique())#returns count of times a unique item
print(count_unique_items_df)

#Average Price:
average_price = purchase_data["Price"].mean()
print(average_price)

#Number of Purchases:
count_purchases = len(purchase_data["Purchase ID"].unique())#returns count of times a unique item
print(count_purchases)

#Total Revenue:
total_revenue = purchase_data["Price"].sum()
print(total_revenue)

#Data Frame:


purchasing_analysis = pd.DataFrame(count_unique_items_df)
print(purchasing_analysis)#purchasing_analysis = pd.DataFrame("Number of Unique Items": count_unique_items_df, "Average Price": average_price, "Number of Purchases": count_purchases, "Total Revenue": total_revenue)
#print(purchasing_analysis)

#Formatting:
# First convert columns to float then Format to go to two decimal places, include a dollar sign, and use comma notation
#purchasing_analysis["Average Price"] = purchasing_analysis["Average Price"].astype(float).map(
#    "${:,.2f}".format)
#purchasing_analysis["Total Revenue"] = purchasing_analysis["Total Revenue"].astype(float).map(
#    "${:,.2f}".format)
#purchasing_analysis

179
3.050987179487176
780
2379.77

ValueError: DataFrame constructor not properly called!

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [91]:
#Limit Data for information needed for Analysis:
limited_df = purchase_data.loc[:, ["SN", "Gender"]]
print(limited_df)


#find unique
#unique_players_df = limited_df["SN"].unique()
#print(unique_players_df)
#idk = unique_players_df['SN'].value_counts()
#print(idk)
limited_df['SN'].value_counts()
#limited_df.describe()

#calc total: Total Count
#calc percent: Percentage of Players
#format:
#purchasing_analysis["Total Revenue"] = purchasing_analysis["Total Revenue"].astype(float).map(
#    "${:,.2f}".format)
#df
#Male, Female, Other / Non-Disclosed

                SN  Gender
0          Lisim78    Male
1      Lisovynya38    Male
2       Ithergue48    Male
3    Chamassasya86    Male
4        Iskosia90    Male
..             ...     ...
775     Aethedru70  Female
776         Iral74    Male
777     Yathecal72    Male
778        Sisur91    Male
779      Ennrian78    Male

[780 rows x 2 columns]

Lisosia93       5
Iral74          4
Idastidru52     4
Siallylis44     3
Zontibe81       3
               ..
Lisassasda39    1
Lisadar44       1
Eulae84         1
Aesur96         1
Aeral43         1
Name: SN, Length: 576, dtype: int64


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
purchase_data.loc[:, ["Gender", "Purchase ID", "Price"]].head()

#Per Gender Find:
#ted_group = ted_df.groupby("View Group")
#Purchase Count
#Avg Price
#Total Purchase Value
#Avg Total Purchase per Person

#DF
#Format
#Display summary data frame

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80